#about {
	padding-top: 60px;
	.nav-tabs {
		display: inline-block;
		margin-bottom: 50px;
		.active {
			a {
				background-color: $blue;
				color: #fff;
			}
		}
		li {
			a {
				border-radius: 0;
				border: 1px solid $bg-gray;
				margin: 0;
				padding: 20px 60px;
				color: #000;
				&:hover {
					background-color: $blue;
					color: #fff;
				}
				&:focus {
					background-color: transparent;
					color: #000;
				}
			}
		}
	}
	.tab-content {
		.tab-active {
			display: block !important;
		}
		.tab-panel {
			display: none;
			padding-bottom: 20px;
			a {
				@include button(transparent, $blue, 'yes', 1px, solid, $blue, 3px);
				@include transition(all, .2s, ease);
				margin: 15px 7px 0;
				padding: 15px 20px;
				&:hover {
					background-color: $blue;
					color: #fff;
				}
			}
			h3 {
				margin: 20px 0 15px;
				font-size: 34px;
				font-weight: 300;
				span {
					color: $blue;
				}
			}
			p {
				margin: 0 0 10px;
				font-size: 14px;
				line-height: 25px;
			}
			.sub-title {
				margin-bottom: 20px;
				font-size: 16px;
				font-weight: 300;
			}
			.section-header {
				margin: 30px 0 80px;
			}
			.sub-header {
				margin-bottom: 30px;
			}
			h2 {
				margin: 20px 0 15px;
				font-size: 45px;
				font-weight: 300;
			}
			.heading {
				display: block;
				margin: 0 0 10px;
				font-size: 16px;
				font-weight: 400;
			}
			.thin {
				font-weight: 300;
				margin: 0 0 10px;
				line-height: 25px;
			}
			i {
				font-size: 81px;
				color: $blue;
				vertical-align: center;
				line-height: 1;
				margin-bottom: 5px;
			}
		}
	}
	hr {
		margin: 0;
		display: inline-block;
		width: 100%;
		height: 1px;
		border: none;
		background-color: $bg-gray;
	}
}