#clients {
	background-color: $bg-gray;
		.photo{
				overflow: hidden;
				height: 71px;
				width: 220px;
				float: left;
				margin: 0 auto;
				padding: 0 35px;
		}
	ul {
		 margin: 25px 5px;
	
	
		li {
				// padding: 0 25px;
				
			}
		}		
	}
