body {
	margin-top: 40px;
	background-color: #F5F5F5;
}
table {
	margin-top: 30px;
}
.btn-login {
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}
caption {
	font-weight: bold;
	padding: 4px;
	font-size: 16px;
}